@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* 
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px 
*/
/* ### Body Copy
- Font size: 18px 
font-family: 'Poppins', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
/* ### Primary */
:root {
    --pink: hsl(322, 100%, 66%);
    /* ### Neutral */
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
    --poppins: 'Poppins', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
    --padding-container: 80px 0;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: var(--open-sans);
    background-color: var(--Very-Pale-Cyan);
}

p {
    font-family: var(--poppins);
    color: var(--Grayish-Blue);
}

.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.main__section {
    min-height: 100vh;
    background: url(images/bg-hero-desktop.svg);
    background-size: cover;
    margin-bottom: 50px;
}

.main__logo {
    width: 45%;
    max-width: 160px;
}

.main__logo img {
    width: 100%;
    display: block;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    --padding-container: 60px 0 45px;
}

.nav__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    font-weight: 600;
    padding: 8px 20px;
    height: 60px;
    width: 250px;
    border-radius: 30px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: var(--Very-Dark-Cyan);
    text-decoration: none;
}

.nav__button:hover {
    color: var(--Grayish-Blue);
}

.hero__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main__content {
    width: 40%;
    max-width: 1440px;
    margin-top: 100px;
}

.hero__title {
    font-size: 3rem;
    width: 100%;
}

.hero__para {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: 600;
    width: 89%;
    line-height: 25px;
}

.get_started__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--pink);
    margin-top: 30px;
    font-weight: 600;
    padding: 8px 20px;
    height: 60px;
    width: 300px;
    border-radius: 30px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: whitesmoke;
    text-decoration: none;
}

.get_started__button:hover {
    opacity: 0.5;
}

.hero_image {
    width: 55%;
    display: block;
}

.hero__image {
    width: 100%;
}

.info__cards {
    padding: 100px 0px;
    max-width: 100%;
    background: white;
}

.card__main {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    border-radius: 30px;
    box-shadow: 0px 8px 15px 8px rgba(0, 0, 0, 0.1);
}

.card__main__middle {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    border-radius: 30px;
    box-shadow: 0px 8px 15px 8px rgba(0, 0, 0, 0.1);
}

.card__text {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 50px;
}

.card__title {
    margin-bottom: 20px;
}

.card_img {
    max-width: 500px;
    display: flex;
}

.card__img {
    width: 100%;
    display: block;
}

.build_community__card {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;
    border-radius: 30px;
    box-shadow: 0px 8px 15px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.footer__main {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--Very-Dark-Cyan);
    padding: 100px;
}

.footer__main ul {
    padding: 0;
}

.footer__main ul li {
    text-decoration: none;
    list-style: none;
    line-height: 40px;
    color: white;
}

.footer__main a {
    color: white;
    text-decoration: none;
}

.footer__main a:hover {
    text-decoration: underline;
}

.footer__info {
    padding: 100px;
}

.footer__logo {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%);
}

footer {
    background-color: var(--Very-Dark-Cyan);
}


@media only screen and (max-width:1440px) {

    .main__section {
        background: url(images/bg-hero-mobile.svg);
        background-size: cover;
    }

    .nav__button {
        height: 40px;
        width: 145px;
    }

    .main__content {
        width: 100%;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero__title {
        font-size: 2rem;
        width: 80%;
    }

    .hero__para {
        width: 80%;
    }

    .get_started__button {
        margin: 50px 0px;
    }

    .hero_image {
        width: 100%;
    }

    .card__text {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-top: 60px;
        line-height: 25px;
        padding: 30px;
    }

    .card__title {
        margin-bottom: 20px;
    }

    .card__para {
        width: 100%;
    }

    .footer__main {
        flex-direction: column;
        text-align: left;
    }

    .contact {
        padding: 0;
        margin-bottom: 30px;
    }

    .footer__info {
        padding: 0;
    }

    .footer__contact {
        padding: 0;
    }
}